.aprobado {
    color: white;
    background-color: green;
    padding: 10px;
}

.suspenso {
    color: white;
    background-color: red;
    padding: 10px;
}

.advertencia {
    color: white;
    background-color: orange;
    padding: 10px;
}